.child-wrapper hr {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

table.dataTable tbody>tr.selected, table.dataTable tbody>tr>.selected {
    background-color: #eaeaea;
    color: #000000;
}

/* .add-child-row {
    position: fixed;
    left: 20px;
    padding-top: 30px;
} */

.child-wrapper ul {
    padding-inline-start: 0;
    list-style-type: none;
}

.form-container .form-group {
     margin-bottom: 0;
}

.form-group label {
    font-size: 12px;
}

.form-group .form-control, .select2-container {
    height: 28px;
    font-size: 12px;
}

.dataTables_wrapper {
    font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 12px !important;
    font-weight: 400;
}

.hidden-tab {
    display: none;
}

.dataTables_wrapper select.form-control
{
    height: 35px;     
}
    .dataTables_paginate {

    display: none !Important;
}

.select2-selection--multiple {
    height: auto !Important;
}

/* .select2-selection,
.select2-container .select2-selection--single {
    height: calc(1.5em + .75rem + 2px);
    padding-top: 5px;
} */

.center-modal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.modal.fade {
    background: rgba(0, 0, 0, 0.5);
}

.sp-fill-in {
    position: absolute;
    padding-left: 5px;
}

.ui-widget-overlay {
    background: #aaa;
    opacity: .5;
}

.ui-dialog-titlebar-close {
    padding: 0 !important;
    font-size: 3px !important;
    margin: -12px 5px 0 0 !important;
}

.ui-dialog-titlebar-close:after {
    content: '';
    width: 20px;
    height: 20px;
    display: inline-block;
    /* Change path to image*/
    background-image: url(/sites/BP/SiteAssets/plugins/jquery-ui-1.12/images/ui-icons_777777_256x240.png);
    background-position: -95px -128px;
    background-repeat: no-repeat;
}


.css_Attachments {

    min-width: 50px !important;
    width: 50px !important;
    max-width: 50px !important;
}

.disable-user {
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.hide-json {
    display: none;
}

.user-table-style {
    display: inline-block;
    border-bottom: solid 1px #ccc;
}