/*Bootstrap Sharepoint CSS Fixes*/

.modal-title {
    margin: 0;
}

.modal-header .close {
    padding: 1rem 1rem 1rem 10rem;
}

@media only screen and (min-height: 900px) {

    .modal-overflow {
        max-height: 700px;
        overflow-y: auto;
    }
}