<div>
    <meta name="GENERATOR" content="MSHTML 11.00.10570.1001">
    <p><b><span lang="en-us">
                <font size="2" face="Arial"></font>
            </span></b></p><b>
        <font size="2" face="Arial">
            <div
                style="font-family:Verdana; display:block; color:#ffffff; font-size:22pt; background-color:#008000; text-decoration:none; line-height:44px; border-bottom:9px solid #008000; border-left:14px solid #008000">
                BP Front Office Notification<br>
                <span style="color:yellow">Action Requested</span></div>
            <div style="font-family:Arial; color:#0033a0; font-size:11pt"><br>
                Sent to: <span style="font-weight:normal">Martinez, David J | Analyst</span><br>
                Priority Level: <span style="font-weight:normal"><span
                        style="color:black; font-weight:normal">Routine</span></span><br>
                Category: <span style="font-weight:normal">Internal Clearance</span><br>
                Type: <span style="font-weight:normal">CN/OP Plan</span></div>
        </font>
    </b><span lang="en-us"><br>
        <b></b><b></b><b>
            <font size="2" face="Arial">Package Title: Bangui NEC site CN</font>
        </b></span>
    <p></p>
    <p><span lang="en-us">
            <font size="2" face="Arial">This FO Internal Clearance package has been sent to you from<i> Martinez,
                    Anthony</i> for your review / approval.</font>
        </span></p>
    <p><span lang="en-us"><u>
                <font size="2" face="Arial">Comment</font>
            </u>
            <font size="2" face="Arial">:Sending this back to David as it is being incorporated into the ESCM Op Plan.
            </font>
        </span></p>
    <p><span lang="en-us"><u>
                <font size="2" face="Arial">Additional Information</font>
            </u>
            <font size="2" face="Arial">:
            </font>
        </span></p>
    <p><span lang="en-us">
            <font size="2" face="Arial">View:</font>
            <font face="Arial">
                <a href="https://gcc01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fusdos.sharepoint.com%2Fsites%2FBP%2FBPi%2FSPApps%2FSitePages%2FFront%2520Office%2520-%2520Views.aspx%3FFormId%3D460&amp;data=02%7C01%7CRisiJA%40state.gov%7C5a54c5ad9927441470e808d7e2468ab0%7C66cf50745afe48d1a691a12b2121f44b%7C0%7C0%7C637226664910823543&amp;sdata=5K7%2BhvLQztdv7gLi5KJUOvLIcsbs4CjsI%2F989fU0dqE%3D&amp;reserved=0"
                    target="_blank" rel="noopener noreferrer" data-auth="Verified"
                    originalsrc="https://usdos.sharepoint.com/sites/BP/BPi/SPApps/SitePages/Front%20Office%20-%20Views.aspx?FormId=460"
                    shash="DWj4lpFSTKQ8feP+nSFaJCFLg1C3jsIuEGjwG7LikaSzaFdX7S3aJuZ6RWuLJGbgFlO2tl7WXRxL2N/lZpj8qE6eVLgkU68f0RNWS2czfo08TexMBn74xv76CopZ9sqvsauoaTWuD4colGUZa/P9pw4pLZbWe1+MOj3U6bB/AJ0="
                    title="Original URL: https://usdos.sharepoint.com/sites/BP/BPi/SPApps/SitePages/Front%20Office%20-%20Views.aspx?FormId=460. Click or tap if you trust this link.">
                    <font color="#0000ff" size="2">Form w/ Document(s)</font>
                </a></font>
        </span><span lang="en-us"><br>
            <font size="2" face="Arial">View:</font>
            <font face="Arial"> <a
                    href="https://gcc01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fusdos.sharepoint.com%2Fsites%2FBP%2FBPi%2FSPApps%2FSitePages%2FFront%2520Office%2520-%2520Views.aspx&amp;data=02%7C01%7CRisiJA%40state.gov%7C5a54c5ad9927441470e808d7e2468ab0%7C66cf50745afe48d1a691a12b2121f44b%7C0%7C0%7C637226664910823543&amp;sdata=ALYW3j9JUGlwMaYtpABc%2Bp6WNGLLNdTU6s%2Bbfm8%2F8Y0%3D&amp;reserved=0"
                    target="_blank" rel="noopener noreferrer" data-auth="Verified"
                    originalsrc="https://usdos.sharepoint.com/sites/BP/BPi/SPApps/SitePages/Front%20Office%20-%20Views.aspx"
                    shash="zYFY5OaQDfPTthFF99VQ4QN3Vxmv10Zs/JcG2zO5FVlcX+suUxBM4ezf7m14IDEGsVCk99pMIWxpuu2LjfmgwIllrjFLCEX0Qok0TRaTASYr8QhTOZ/jSG4olNWlk1BgGX2lBsrmhfHsp/2FEuMo2WNP0hwKi5cz68e8PNJ5kSo="
                    title="Original URL: https://usdos.sharepoint.com/sites/BP/BPi/SPApps/SitePages/Front%20Office%20-%20Views.aspx. Click or tap if you trust this link.">
                    <font color="#0000ff" size="2">FOA Home</font>
                </a></font>
        </span><span lang="en-us"><br>
            <font size="2" face="Arial">How To's:</font>
            <font face="Arial"> <a
                    href="https://gcc01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fusdos.sharepoint.com%2Fsites%2FBP%2FBPi%2FBPProcedures%2FFront%2520Office%2520Application%25201.0.aspx&amp;data=02%7C01%7CRisiJA%40state.gov%7C5a54c5ad9927441470e808d7e2468ab0%7C66cf50745afe48d1a691a12b2121f44b%7C0%7C0%7C637226664910833501&amp;sdata=cMQA%2FTKt8T2fbhSBhJ6DQOB5PTaAzXxjKf821877lmk%3D&amp;reserved=0"
                    target="_blank" rel="noopener noreferrer" data-auth="Verified"
                    originalsrc="https://usdos.sharepoint.com/sites/BP/BPi/BPProcedures/Front%20Office%20Application%201.0.aspx"
                    shash="Gu2ODWDxVM/AEA22t8B7fb1DDuaDfU+wyf4HiiumaW6WYxUpSayrfCMANXNGX0hLAEwh2bETC+7dPjEdyiNHNfUvzhfY1amqOT9gJcit1m7/XSIkRQq9+J2ulQ5GbmHNBeEAfVMa5cBdpcQjS7uRWVI8Y2M8uE98CQtlYIsb3SQ="
                    title="Original URL: https://usdos.sharepoint.com/sites/BP/BPi/BPProcedures/Front%20Office%20Application%201.0.aspx. Click or tap if you trust this link.">
                    <font color="#0000ff" size="2">FOA Instructional Materials</font>
                </a></font>
        </span></p>
    <p><span lang="en-us"><i>
                <font size="2" face="Arial">Last Modified: 4/16/2020&nbsp; 4:38 PM<br>
                    Last Modified By: Martinez, Anthony</font>
            </i><br>
            <br>
            <br>
            <u></u><u><b></b></u><u><b></b></u><u><b>
                    <font size="2" face="Arial">Package Details:</font>
                </b></u><b></b><br>
            <font size="2" face="Arial">ID: 460<br>
                Requestor: Maurice Johnson<br>
                Requesting Office: OBO/RM<br>
                Date Received: 1/1/0001<br>
                Due Date: 4/14/2020<br>
                Suspense Date: 1/1/0001<br>
                Source: E-mail<br>
                Lead Analyst: Martinez, David J<br>
                Date Notes: <br>
                ----------------------------------------------------------------------------------<br>
                Associated Portfolio(s):<br>
                ----------------------------------------------------------------------------------<br>
            </font>
        </span></p>
    <table style="border-collapse:collapse; border-spacing:0; table-layout:fixed; width:516px">
        <colgroup>
            <col style="width:116px">
            <col style="width:400px">
        </colgroup>
        <tbody>
            <tr>
                <th colspan="2"
                    style="color:white; font-family:Arial; font-size:14px; font-weight:bold; padding:10px 5px; border-style:solid; border-width:1px; overflow:hidden; word-break:normal; background-color:#256cba">
                    Routing Participants</th>
            </tr>
            <tr>
                <td
                    style="font-family:Arial; font-size:11px; padding:10px 5px; border-style:solid; border-width:1px; overflow:hidden; word-break:normal; font-weight:bold; background-color:#dddddd">
                    Role</td>
                <td
                    style="font-family:Arial; font-size:11px; padding:10px 5px; border-style:solid; border-width:1px; overflow:hidden; word-break:normal; font-weight:bold; background-color:#dddddd">
                    Name(s)</td>
            </tr>
            <tr>
                <td
                    style="font-family:Arial; font-size:11px; padding:10px 5px; border-style:solid; border-width:1px; overflow:hidden; word-break:normal">
                    Analyst(s)</td>
                <td
                    style="font-family:Arial; font-size:11px; padding:10px 5px; border-style:solid; border-width:1px; overflow:hidden; word-break:normal">
                    Martinez, David J - Approved w/ Edits | </td>
            </tr>
            <tr>
                <td
                    style="font-family:Arial; font-size:11px; padding:10px 5px; border-style:solid; border-width:1px; overflow:hidden; word-break:normal">
                    Admin(s)</td>
                <td
                    style="font-family:Arial; font-size:11px; padding:10px 5px; border-style:solid; border-width:1px; overflow:hidden; word-break:normal">
                </td>
            </tr>
            <tr>
                <td
                    style="font-family:Arial; font-size:11px; padding:10px 5px; border-style:solid; border-width:1px; overflow:hidden; word-break:normal">
                    Peer Reviewer(s)</td>
                <td
                    style="font-family:Arial; font-size:11px; padding:10px 5px; border-style:solid; border-width:1px; overflow:hidden; word-break:normal">
                </td>
            </tr>
            <tr>
                <td
                    style="font-family:Arial; font-size:11px; padding:10px 5px; border-style:solid; border-width:1px; overflow:hidden; word-break:normal">
                    Coordinator(s)</td>
                <td
                    style="font-family:Arial; font-size:11px; padding:10px 5px; border-style:solid; border-width:1px; overflow:hidden; word-break:normal">
                </td>
            </tr>
            <tr>
                <td
                    style="font-family:Arial; font-size:11px; padding:10px 5px; border-style:solid; border-width:1px; overflow:hidden; word-break:normal">
                    Manager(s)</td>
                <td
                    style="font-family:Arial; font-size:11px; padding:10px 5px; border-style:solid; border-width:1px; overflow:hidden; word-break:normal">
                    Martinez, Anthony - Approved w/ Edits | </td>
            </tr>
            <tr>
                <td
                    style="font-family:Arial; font-size:11px; padding:10px 5px; border-style:solid; border-width:1px; overflow:hidden; word-break:normal">
                    Office Director(s)</td>
                <td
                    style="font-family:Arial; font-size:11px; padding:10px 5px; border-style:solid; border-width:1px; overflow:hidden; word-break:normal">
                    Hannah, Sherry M - | </td>
            </tr>
            <tr>
                <td
                    style="font-family:Arial; font-size:11px; padding:10px 5px; border-style:solid; border-width:1px; overflow:hidden; word-break:normal; vertical-align:top">
                    BP Director</td>
                <td
                    style="font-family:Arial; font-size:11px; padding:10px 5px; border-style:solid; border-width:1px; overflow:hidden; word-break:normal; vertical-align:top">
                </td>
            </tr>
        </tbody>
    </table>
    <font size="2" face="Arial">
        <br>
        Should you have any questions regarding this package please contact:<br>
        Martinez, David J; Martinez, David J</font>
    <p></p>
    <p><span lang="en-us"><i>
                <font size="2" face="Arial">This is an automated message and does not accept email replies.</font>
            </i></span></p>
    <br>
    <p><span lang="en-us">
            <font color="#0000ff" size="2" face="Arial"></font>
        </span></p>
    <font color="#0000ff" size="2" face="Arial">
        <center>BP/RPBI/SRO Team . U.S. Department of State . Washington, DC 20520</center>
    </font>
    <p></p>
    <br>
    <p><span lang="en-us"><b>
                <font size="2" face="Arial"></font>
            </b><br>
            <b></b><b></b><b>
                <font color="#008000" size="2" face="Arial">UNCLASSIFIED</font>
            </b></span></p>
</div>