<script type="text/x-handlebars-template" id="the_loader_template">
    <div class="modal-backdrop in the-Loader-wrap app-loader-text-centered {{id}}" style="opacity: 0; z-index: 999999;">
        <div class="app-loader">
            <div class="app-loader-text">
                <div id="" class="modal-backdrop the-Loader {{id}}" style="display: none; opacity: 0; z-index: 999999;">
                    <div class=circleGWrap>
                        <div id="circleG">
                            <div id="circleG_1" class="circleG"></div>
                            <div id="circleG_2" class="circleG"></div>
                            <div id="circleG_3" class="circleG"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/x-handlebars-template" id="sp_tab_container">
    <div class="row">
        <div class="col-md-12 container" style="padding: 20px 0px 0px 50px">
            <ul class="nav nav-tabs spa-app-items"></ul>
            <div class="tab-content" id="sp-app-contents" style="padding: 20px 0px 0px 0px;"></div>
        </div>
    </div>
</script>

<script type="text/x-handlebars-template" id="sp_file_attachment">
    <i class="fa fa-paperclip" />
</script>

<script type="text/x-handlebars-template" id="sp_jstree_template">
    <div id="container_{{name}}">
        <h1>{{title}}</h1>
        <div id="tree_size_{{name}}">
            <ul>
                {{#d.results}}
                    <li data-jstree='{"icon":"fa fa-file-o"}'>
                        <a href="#">ObjectName : <strong>{{Title}}</strong></a>
                        <ul>
                            <li data-jstree='{"icon":"fa fa-cog"}'>Type: {{TypeAsString}}</li>
                            {{#ifCondition TypeAsString ' == "Lookup"'}}
                                <li data-jstree='{"icon":"fa fa-sitemap"}'>Lookup Field: {{LookupField}}</li>
                            {{/ifCondition}}
                            <li data-jstree='{"icon":"fa fa-filter"}'>Filterable: {{Filterable}}</li>                            
                        </ul>
                    </li>
                {{/d.results}}
            </ul>
        </div>
    </div>
</script>
<script type="text/x-handlebars-template" id="bootstrap-nav-li">
    <li class="nav-item"><a class="nav-link {{#if active}}active{{/if}} {{#if hidden}}hidden-tab{{/if}}" id="nav-tab-{{name}}" data-owner="{{name}}" data-toggle="tab" href="#nav-{{name}}" role="tab" aria-controls="home" aria-selected="false">{{tabTitle}}</a></li>
</script>
<script type="text/x-handlebars-template" id="bootstrap-nav-div">
    <div class="tab-pane {{#if active}}active{{/if}}" id="nav-{{name}}" role="" aria-labelledby="{{name}}-tab">{{> listTabs}}</div>
</script>
<script type="text/x-handlebars-template" id="list-family">
    <ul class="nav nav-tabs" id="lf-item-container-{{name}}" role="lf-item-container-{{name}}">
        <li class="nav-item">
            <a class="nav-link datatable-link active" id="data-tab" data-toggle="tab" href="#lf-list-{{name}}" data-hastable="true" data-owner="{{name}}" data-tablename="{{name}}" role="tab" aria-controls="data-tab" aria-selected="true">Data</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="tree-tab" data-toggle="tab" href="#lf-tree-{{name}}" role="tab" aria-controls="tree-tab" aria-selected="false">Tree</a>
        </li>
        <li class="nav-item">
            <a class="nav-link grid-link" id="grid-tab" data-toggle="tab" href="#lf-grid-{{name}}" id="link-grid-{{name}}" role="tab" data-owner="{{name}}" aria-controls="grid-tab" aria-selected="false">Grid</a>
        </li>
    </ul>
    <div class="tab-content" id="lf-content-container-{{name}}" style="padding-top: 20px;">
        <div class="tab-pane fade show active" id="lf-list-{{name}}" role="tabpanel" aria-labelledby="data-tab">
            <div class="row no-horizontal-margin">
                <div class="col-md-10" id="spTable-wrap-{{name}}" style="padding-right: 0;">{{> spTable}}</div>
                <div class="col-md-2 no-horizontal-padding" id="spActions-wrap-{{name}}"></div>
            </div>
        </div>
        <div class="tab-pane fade" id="lf-tree-{{name}}" role="tabpanel" aria-labelledby="tree-tab">{{> jsTree}}</div>
        <div class="tab-pane fade " id="lf-grid-{{name}}" role="tabpanel" aria-labelledby="grid-tab">
            <div class="iframeContainer">
            </div>
        </div>
</script>
<script type="text/x-handlebars-template" id="tabs-template">
    <ul class="nav nav-tabs" id="tab-item-container-{{name}}" role="lf-item-container-{{name}}">
        {{#tabs}}
            <li class="nav-item">
                <a 
                    {{#if active}} 
                        class="nav-link active" 
                        aria-selected="true" 
                    {{else}} 
                        class="nav-link" 
                        aria-selected="false" 
                    {{/if}} 
                    id="{{li_id}}" 
                    data-toggle="tab" 
                    href="#{{div_id}}" 
                    data-tablename="{{name}}" 
                    role="tab" 
                    aria-controls="{{li_id}}" 
                    {{{li_attr}}}
                >
                    {{li_title}}
                </a>
            </li>
        {{/tabs}}
    </ul>
    <div class="tab-content" id="tab-content-container-{{name}}" style="padding-top: 10px;">
        {{#tabs}}
            <div 
                {{#if active}}
                    class="tab-pane fade show active" 
                {{else}}
                    class="tab-pane fade"
                {{/if}}
                id="{{div_id}}" 
                role="tabpanel" 
                aria-labelledby="{{li_id}}"
                {{{div_attr}}}>
                {{{htmlContent}}}
            </div>
        {{/tabs}}
    </div>

</script>
<script type="text/x-handlebars-template" id="sp_delete_item">
    <div class="form col-md-12 form-container" id="form-{{formType}}-{{name}}" data-source="{{name}}" data-formtype="{{formType}}" data-basetemplate="{{baseTemplate}}">
        <input type="hidden" name="{{@root.name}}.ID" data-name="ID" />
        <h2>You are about to delete an item. Continue?</h2>
        <button type="button" class="btn btn-primary delete-data" data-source="{{name}}" data-sptype="{{title}}" data-owner="form-{{formType}}-{{name}}" data-action="Delete">Delete</button>
    </div>
</script>
<script type="text/x-handlebars-template" id="sp_forms_template">
    {{#switch formType}} 
        {{#case "create"}} {{setVar "formType" "create"}} {{/case}} 
        {{#case "view"}} {{setVar "formType" "view"}} {{setVar "hasID" true}} {{/case}} 
        {{#case "edit"}} {{setVar "formType" "edit"}} {{setVar "hasID" true}} {{/case}} 
        {{#default}} {{setVar "formType" "create"}} {{/default}} 
    {{/switch}}

    <div class="form row form-container" 
        id="form-{{formType}}-{{name}}" 
        data-source="{{name}}" 
        data-formtype="{{formType}}" 
        data-basetemplate="{{baseTemplate}}" 
        style="margin-right: 0;"
    >
        {{#if hasID}}
            <input type="hidden" name="{{@root.name}}.ID" data-name="ID" data-entity="ID" /> 
        {{/if}} 
        {{#d.results}} 
            {{#if spLoadObject}} 
            {{#if hidden}}
                <input type="hidden" id="{{uiID}}" name="{{@root.name}}.{{Title}}" data-entity="{{EntityPropertyName}}" data-name="{{Title}}" /> 
            {{else}}

                <div class="form-group 
                    {{#switch TypeAsString}}
                        {{#case "Attachments" "File" }}
                            col-md-12
                        {{/case}}
                        {{#default}} 
                            {{#if hasBootstrapGridOverride}} {{bootstrapGridOverride}} {{else}} col-md-4 col-sm-12 col-lg-3 {{/if}}
                        {{/default}}
                    {{/switch}}">
                    
                    {{#switch TypeAsString}} 
                        {{#case "Text" "Choice" "MultiChoice" "Lookup" "Note" "UserMulti" "Attachments" "File" "User" "DateTime" "Number" "Currency"}}
                            <label for="{{Title}}" style="width: 100%; 
                                {{#ifCondition Title '== "Title"'}}
                                {{#ifCondition formType '== "create"'}}
                                    Display:none;
                                {{/ifCondition}}
                                {{/ifCondition}}"
                            >
                            {{{replace Title '_' ' '}}}
                            {{#if Required}}
                            <span style="color:red;">*</span>
                            {{/if}}
                            </label>            
                        {{/case}} 
                    {{/switch}} 
                    
                    {{#switch TypeAsString}} 
                        {{#case "Text"}}
                            <input type="text" id="{{uiID}}" class="form-control" 
                                
                                {{#ifCondition Title '== "Title"'}}
                                {{#ifCondition formType '== "create"'}}
                                    style="Display:none;" 
                                {{/ifCondition}}
                                {{/ifCondition}}
                                name="{{@root.name}}.{{Title}}" 
                                data-entity="{{EntityPropertyName}}"
                                data-name="{{Title}}" 
                                aria-describedby="{{Title}}Help" 
                                placeholder="Enter {{{replace Title '_' ' '}}}" 
                                data-defaultvalue="{{DefaultValue}}" 
                                value="{{DefaultValue}}" 
                                {{#if Required}}required{{/if}}
                            /> 
                        {{/case}} 
                        {{#case "Number"}}
                            <input type="text" id="{{uiID}}" 
                                class="form-control sp-Number" 
                                name="{{@root.name}}.{{Title}}" 
                                data-entity="{{EntityPropertyName}}" 
                                data-name="{{Title}}" 
                                aria-describedby="{{Title}}Help" 
                                placeholder="Enter {{{replace Title '_' ' '}}}" 
                                data-defaultvalue="{{DefaultValue}}"
                                value="{{DefaultValue}}" 
                                {{#if Required}}required{{/if}}
                            /> 
                        {{/case}} 
                        {{#case "Currency" }} 
                            <input type="text" id="{{uiID}}" 
                                class="form-control sp-Currency" 
                                name="{{@root.name}}.{{Title}}" 
                                data-entity="{{EntityPropertyName}}" 
                                data-name="{{Title}}" 
                                aria-describedby="{{Title}}Help" 
                                placeholder="Enter {{{replace Title '_' ' '}}}" 
                                data-defaultvalue="{{DefaultValue}}"
                                value="{{DefaultValue}}" 
                                {{#if Required}}required{{/if}}
                            /> 
                        {{/case}} 
                        {{#case "MultiChoice"}} 
                            <select multiple type="text" id="{{uiID}}" 
                                class="form-control select2-js" 
                                name="{{@root.name}}.{{Title}}" 
                                data-entity="{{EntityPropertyName}}" 
                                data-name="{{Title}}" 
                                aria-describedby="{{Title}}Help" 
                                placeholder="Enter {{Title}}" 
                                data-defaultvalue="{{DefaultValue}}"
                                {{#if Required}}required{{/if}}
                            >
                                {{!<option value="">Please Select {{replace Title '/_/' ' '}}</option>}}
                                {{#Choices.results}}
                                    <option value="{{this}}">{{this}}</option>
                                {{/Choices.results}}
                            </select>
                        {{/case}} 
                        {{#case "Boolean"}}
                            <input type="checkbox" id="{{uiID}}" 
                                class="" 
                                name="{{@root.name}}.{{Title}}" 
                                data-entity="{{EntityPropertyName}}" 
                                data-name="{{Title}}" 
                                {{#if Required}}required{{/if}}
                            />
                            <label class="" for="{{uiID}}">Check this custom checkbox</label>
                            <div class="invalid-feedback"></div>
                        {{/case}} 
                        {{#case "Choice"}} 
                            {{#switch EditFormat}} 
                                {{#case 0}}
                                    <select type="text" id="{{uiID}}" 
                                        class="form-control select2-js" 
                                        name="{{@root.name}}.{{Title}}" 
                                        data-entity="{{EntityPropertyName}}" 
                                        data-name="{{Title}}" 
                                        aria-describedby="{{Title}}Help" 
                                        placeholder="Enter {{Title}}" 
                                        data-defaultvalue="{{DefaultValue}}"
                                        {{#if Required}}required{{/if}}
                                    >
                                        <option value="">Please Select {{replace Title '/_/' ' '}}</option>
                                        {{#Choices.results}}
                                            <option value="{{this}}">{{this}}</option>
                                        {{/Choices.results}}
                                    </select> 
                                    {{#if FillInChoice}} 
                                        {{#switch @root.formType}} 
                                            {{#case "create" "edit"}}
                                                <a href="javascript:void(0);" for="{{uiID}}" 
                                                    class="sp-fill-in" 
                                                    data-choicetype="dropdown" 
                                                    data-toggle="popover" 
                                                    name="{{@root.name}}.{{Title}}" 
                                                    data-entity="{{EntityPropertyName}}" 
                                                    data-source="{{@root.name}}" 
                                                    data-owner="{{Title}}" 
                                                    data-editformat="{{EditFormat}}"
                                                    data-trigger="hover" 
                                                    data-placement="top"
                                                    title="Add New Value" 
                                                    data-content="Your desired value is not in the list? Click the plus and add it."
                                                >
                                                    <i class="fa fa-plus-circle"></i>
                                                </a> 
                                            {{/case}} 
                                        {{/switch}} 
                                    {{/if}} 
                                {{/case}} 
                                {{#case 1}}
                                    {{! <div class="form-check form-check-inline"> }}
                                    <div id="{{uiID}}" class="sp-radio-wrapper" 
                                        data-uuid="{{uiID}}" 
                                        data-source="{{@root.name}}" 
                                        data-entity="{{EntityPropertyName}}" 
                                        data-for="{{Title}}" 
                                        data-action="{{@root.formType}}"
                                    >
                                        {{#Choices.results}}
                                            <div class="form-check">
                                                <input class="form-check-input" for="{{../uiID}}" type="radio" name="{{@root.name}}.{{../Title}}" data-entity="{{../EntityPropertyName}}" id="{{@root.formType}}.{{@root.name}}.{{../Title}}{{@index}}" data-name="{{../Title}}" value="{{this}}">
                                                <label class="form-check-label" for="">{{this}}</label>
                                            </div>
                                        {{/Choices.results}}
                                    </div>
                                    {{#if FillInChoice}} 
                                        {{#switch @root.formType}} 
                                            {{#case "create" "edit"}}
                                                <div class="">
                                                    <a href="javascript:void(0);" for="{{uiID}}" 
                                                        class="sp-fill-in" 
                                                        data-choicetype="radio" 
                                                        style="position: relative; padding: 0px;" 
                                                        data-toggle="popover" 
                                                        name="{{@root.name}}.{{Title}}" 
                                                        data-entity="{{EntityPropertyName}}" 
                                                        data-source="{{@root.name}}" 
                                                        data-owner="{{Title}}"
                                                        data-editformat="{{EditFormat}}" 
                                                        data-trigger="hover" 
                                                        data-placement="top" 
                                                        title="Add New Value" 
                                                        data-content="Your desired value is not in the list? Click the plus and add it."
                                                    >
                                                        <i class="fa fa-plus-circle"></i> Add new value
                                                    </a>
                                                </div>
                                            {{/case}}
                                        {{/switch}}
                                    {{/if}}
                                {{/case}}
                                {{#case 2}}
                                    <select multiple type="text" id="{{uiID}}" 
                                        class="form-control select2-js" 
                                        name="{{@root.name}}.{{../Title}}" 
                                        data-entity="{{EntityPropertyName}}" 
                                        data-name="{{Title}}" 
                                        aria-describedby="{{../Title}}Help" 
                                        placeholder="Enter {{Title}}" 
                                        data-defaultvalue="{{DefaultValue}}" 
                                        {{#if Required}}required{{/if}}
                                    >
                                        <option value="">Please Select {{replace Title '/_/' ' '}}</option>
                                        {{#Choices.results}}
                                            <option value="{{this}}">{{this}}</option>
                                        {{/Choices.results}}
                                    </select>
                                    {{#if FillInChoice}}
                                        {{#switch @root.formType}}
                                            {{#case "create" "edit"}}
                                                <a href="javascript:void(0);" class="sp-fill-in" 
                                                    data-choicetype="dropdown" 
                                                    data-toggle="popover" 
                                                    name="{{@root.name}}.{{Title}}" 
                                                    data-entity="{{EntityPropertyName}}" 
                                                    data-source="{{@root.name}}" 
                                                    data-owner="{{Title}}" 
                                                    data-editformat="{{EditFormat}}"
                                                    data-trigger="hover" 
                                                    data-placement="top" 
                                                    title="Add New Value" 
                                                    data-content="Your desired value is not in the list? Click the plus and add it."
                                                >
                                                    <i class="fa fa-plus-circle"></i>
                                                </a> 
                                            {{/case}}
                                        {{/switch}}
                                    {{/if}}
                                {{/case}}
                            {{/switch}}
                        {{/case}}
                        {{#case "Lookup"}}
                            <select type="text" id="{{uiID}}" class="form-control sp-lookup" 
                                name="{{@root.name}}.{{Title}}" 
                                data-entity="{{EntityPropertyName}}Id" 
                                data-owner="{{@root.name}}" 
                                data-name="{{Title}}Id" 
                                data-selectname="{{EntityPropertyName}}" 
                                aria-describedby="{{Title}}Help"
                                placeholder="Enter {{Title}}" 
                                data-defaultvalue="{{DefaultValue}}" 
                                {{#if Required}}
                                    required
                                {/if}} 
                                {{#if hasDropDownRelationship}}
                                    data-child="{{dropDownRelationship.child}}" 
                                    data-lookupfield="{{dropDownRelationship.lookupField}}" 
                                {{/if}}
                            >
                                <option value="">Please Select {{replace Title '/_/' ' '}}</option>
                                {{#LookupData.results}}
                                    <option value="{{Id}}">{{lookupText}}</option>
                                {{/LookupData.results}}
                            </select>
                        {{/case}}
                        {{#case "User" "UserMulti"}}
                            <input type="hidden" id="{{uiID}}" 
                                name="{{@root.formType}}.{{@root.name}}.{{Title}}" 
                                data-name="{{Title}}" 
                                data-owner="{{@root.name}}" 
                                data-entity="{{EntityPropertyName}}" 
                                data-multi="{{AllowMultipleValues}}" 
                                class="people-picker-data"
                            >
                            <div id="{{randomUUID}}" type="sp-people" data-name="{{@root.formType}}.{{@root.name}}.{{Title}}" class="people-picker" data-owner="{{@root.name}}" data-multi="{{AllowMultipleValues}}" data-type="{{#ifCondition SelectionMode '== 0'}}User{{else}}Group{{/ifCondition}}"
                                data-selectiongroup="{{SelectionGroup}}"></div>
                            <div class="picker-meta-data" data-name="{{@root.formType}}.{{@root.name}}.{{Title}}"></div>
                        {{/case}}
                        {{#case "Note"}}
                            <textarea id="{{uiID}}" type="text" class="form-control spa-textarea" 
                                name="{{@root.name}}.{{Title}}" 
                                data-entity="{{EntityPropertyName}}" 
                                data-name="{{Title}}" 
                                aria-describedby="{{Title}}Help" 
                                placeholder="Enter {{{replace Title '_' ' '}}}" 
                                value="{{DefaultValue}}" 
                                {{#if Required}}required{{/if}}
                            /> 
                        {{/case}}
                        {{#case "DateTime"}}
                            <input type="text" id="{{uiID}}" class="form-control sp-calendar" 
                                name="{{@root.name}}.{{Title}}" 
                                data-entity="{{EntityPropertyName}}" 
                                data-name="{{Title}}" 
                                aria-describedby="{{Title}}Help" 
                                placeholder="Enter {{{replace Title '_' ' '}}}" 
                                data-defaultvalue="{{DefaultValue}}" 
                                value="{{DefaultValue}}" 
                                {{#if Required}}required{{/if}}
                            /> 
                        {{/case}}
                        {{#case "Attachments" "File"}}
                            <div class="file_inventory" data-filecontainer="{{@root.formType}}-{{@root.name}}-attachments">
                                <div class="box__inventory">
                                </div>
                            </div>
                            {{#switch @root.formType}}
                                {{#case "create" "edit"}}
                                    <div class="box {{@root.name}}-attachments" id="{{@root.formType}}-{{@root.name}}-attachments">
                                        <div class="box__input">
                                            <svg class="box__icon" xmlns="http://www.w3.org/2000/svg" width="50" height="43" viewBox="0 0 50 43"><path d="M48.4 26.5c-.9 0-1.7.7-1.7 1.7v11.6h-43.3v-11.6c0-.9-.7-1.7-1.7-1.7s-1.7.7-1.7 1.7v13.2c0 .9.7 1.7 1.7 1.7h46.7c.9 0 1.7-.7 1.7-1.7v-13.2c0-1-.7-1.7-1.7-1.7zm-24.5 6.1c.3.3.8.5 1.2.5.4 0 .9-.2 1.2-.5l10-11.6c.7-.7.7-1.7 0-2.4s-1.7-.7-2.4 0l-7.1 8.3v-25.3c0-.9-.7-1.7-1.7-1.7s-1.7.7-1.7 1.7v25.3l-7.1-8.3c-.7-.7-1.7-.7-2.4 0s-.7 1.7 0 2.4l10 11.6z"></path></svg>
                                            <input class="box__file" id="{{uiID}}" type="file" 
                                                name="{{@root.formType}}.{{@root.name}}.{{Title}}" 
                                                data-name="{{@root.name}}.{{Title}}" 
                                                data-entity="{{EntityPropertyName}}" 
                                                id="{{@root.formType}}.{{@root.name}}.{{Title}}" 
                                                data-multiple-caption="{count} files selected"
                                                {{#ifCondition multiple ' == false'}} {{else}}multiple="multiple" {{/ifCondition}} 
                                                {{#if Required}}required{{/if}}
                                            />
                                            <label class="box__file_label" for="{{uiID}}"><strong>Choose a file</strong><span class="box__dragndrop"> or drag it here</span>.</label> 
                                            {{#ifCondition multiple ' == false'}}
                                                <label class="box__file_label" for="{{@root.formType}}.{{@root.name}}.{{Title}}"><strong>Single File Upload</strong><span class="box__dragndrop"> This Uploader only uploads one file at a time.</span>.</label> 
                                            {{else}}
                                                <label class="box__file_label" for="{{@root.formType}}.{{@root.name}}.{{Title}}"><strong>Multi File Upload</strong><span class="box__dragndrop"> This uploader can only uploads multiple files.</span>.</label> 
                                            {{/ifCondition}}
                                            <button class="box__button" type="submit">Upload</button>
                                        </div>
                                        <div class="box__uploading">Uploading&hellip;</div>
                                        <div class="box__success">Done!</div>
                                        <div class="box__error">Error! <span></span>.</div>
                                    </div>
                                {{/case}}
                            {{/switch}}
                        {{/case}}
                        {{#case "Computed"}}
                        {{/case}}
                        {{#default}}{{TypeAsString}}{{/default}}
                    {{/switch}}
                        
                    <small id="{{@root.name}}.{{Title}}.Help" class="form-text text-muted"></small>
                </div>
            {{/if}}
            {{/if}}
        {{/d.results}}

        {{#if loadActionButtons}}
            {{#switch formType}}
                {{#case "edit"}}
                    <button type="button" class="btn btn-primary save-data" data-source="{{name}}" data-sptype="{{title}}" data-owner="form-{{formType}}-{{name}}" data-action="Update">Update Form</button> 
                {{/case}} 
                {{#case "view"}}
                {{/case}} 
                {{#default}}{{setVar "formType" "create"}}
                    <button type="button" class="btn btn-primary save-data" data-source="{{name}}" data-sptype="{{title}}" data-owner="form-{{formType}}-{{name}}" data-action="Save">Save Form</button>
                    <button type="button" class="btn btn-success clear-data" data-source="{{name}}" data-sptype="{{title}}" data-owner="form-{{formType}}-{{name}}" data-action="Reset">Reset Form</button> 
                {{/default}} 
            {{/switch}} 
        {{/if}}
    </div>
</script>

<script type="text/x-handlebars-template" id="sp_table_template">
    <table class="table table-sm" id="{{name}}" data-table="{{name}}">
        <thead>
            <tr>
            {{#d.results}}
                {{#if spLoadObject}}
                    {{#switch TypeAsString}}
                        {{#case "Attachments"}}
                            <th class="css_dt_{{@root.name}} css_{{replace EntityPropertyName ' ' '_'}}" scope="col" data-name="{{EntityPropertyName}}" data-type="{{TypeAsString}}">{{{replace Title '_' ' '}}}</th>
                        {{/case}}
                        {{#default}}
                        {{/default}}
                    {{/switch}}
                {{/if}}
            {{/d.results}}
            
            {{#d.results}}
                {{#if spLoadObject}}
                    {{#switch TypeAsString}}
                        {{#case "Text" "Choice" "MultiChoice" "Lookup" "Note" "UserMulti" "Computed" "File" "User" "DateTime" "Boolean" "Number" "Currency"}}
                            <th class="css_dt_{{@root.name}} css_{{replace EntityPropertyName ' ' '_'}}" scope="col" data-name="{{EntityPropertyName}}" data-type="{{TypeAsString}}">{{{replace Title '_' ' '}}}</th>
                        {{/case}}
                        {{#default}}{{/default}}
                    {{/switch}}
                {{/if}}
            {{/d.results}}
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</script>

<script type="text/x-handlebars-template" id="sp_file_inventory_template">
    <table class="table">
        <thead>
            <tr>
                <th>File</th>
                {{#if officeLinks}}
                    <th>Edit Options</th>
                {{/if}}
                <th>Last Modified</th>
                {{#if create}}
                    <th>Size</th>
                {{/if}}  
                {{#unless view}}
                    <th></th>
                {{/unless}}
            </tr>
        </thead>
        <tbody>
            {{#files}}
            <tr>
                <td style="width: 50%">
                    <i class="fa fa-paperclip" /> 
                    {{#if ServerRelativeUrl}}
                        <a target="_blank" href="{{ServerRelativeUrl}}">{{FileName}}</a>
                    {{else}}
                        {{name}}
                    {{/if}}
                </td>

                {{#if ../officeLinks}}
                <td>
                    {{#switch extension}}
                        {{#case "docx" "doc" "xlsx" "xls" "ppt" "pptx"}}
                            <a href="{{ServerRelativeUrl}}?Web=1" target="_blank" title="Open Document in Office Online." class="fileDownloadSimpleRichExperience" style="text-decoration:underline;color:#256cba"><i><b>Edit Online</b></i></a> 
                        {{/case}}
                        {{#default}}
                            <a href="{{ServerRelativeUrl}}?Web=1" target="_blank" title="Download {{extension}}." class="fileDownloadSimpleRichExperience" style="text-decoration:underline;color:#256cba"><i><b>Download</b></i></a> 
                        {{/default}}
                    {{/switch}}
                    {{#switch extension}}
                        {{#case "docx" "doc"}} | <a href="ms-word:ofe|u|{{exactURL}}?Web=1" target="_blank" title="Open Document in Word." class="fileDownloadSimpleRichExperience" style="text-decoration:underline;color:#256cba"><i><b>MS Word</b></i></a>{{/case}}
                        {{#case "xlsx" "xls"}} | <a href="ms-excel:ofe|u|{{exactURL}}?Web=1" target="_blank" title="Open Document in Excel." class="fileDownloadSimpleRichExperience" style="text-decoration:underline;color:#256cba"><i><b>MS Excel</b></i></a>{{/case}}
                        {{#case "ppt" "pptx"}} | <a href="ms-powerpoint:ofe|u|{{exactURL}}" target="_blank" title="Open Document in PowerPoint." class="fileDownloadSimpleRichExperience" style="text-decoration:underline;color:#256cba"><i><b>MS PowerPoint</b></i></a>{{/case}}
                        {{#default}}{{/default}}
                    {{/switch}}
                </td>
                {{/if}}

                <td style="width: 20%">
                    {{fileDate lastModified}}
                </td>

                {{#if ../create}}
                    <td style="width: 10%">{{#if ServerRelativeUrl}}{{else}}{{size}} Bytes{{/if}}</td>
                {{/if}}

                {{#unless ../view}}
                    <td style="width: 10%; text-align:center;">
                        <a href="javascript:void(0);" data-owner="{{../owner}}" data-item="{{#if ../itemURL}}{{../itemURL}}{{/if}}" data-name="{{FileName}}" class="{{#if ../create}}Remove-File{{else}}Delete-Attachment-File{{/if}}"><i class="fa fa-trash" /></a>
                    </td>
                {{/unless}}
            </tr>
            {{/files}}
        </tbody>
    </table>
</script>

<script type="text/x-handlebars-template" id="datatable_refresh_html">
    <a type="button" href="javascript:void(0);" class="actionRefresh btn btn-default iris-pager-nav iris-pager-nav-btn" style="margin: -9px 0px 0px 0px;" data-owner="{{owner}}" title="Refresh Data From SharePoint Server">
        <span class="fa fa-refresh" style="color: #aaaaaa !important"></span>
    </a>
</script>

<script type="text/x-handlebars-template" id="list-anchor-items-template">
    <ul class="list-anchors" id="list-anchor-items-{{name}}">
        {{#actions}}
            <li class="list-anchor-items">
                <a class="{{classes}}" id="{{id}}" href="{{href}}" {{{attributes}}}> {{{i}}} {{title}}</a>
            </li>
        {{/actions}}
    </ul>
</script>

<script type="text/x-handlebars-template" id="sp-modal-template">
    <div class="modal fade" id="modal-{{id}}" data-action="{{action}}" data-owner="{{owner}}" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="{{id}}Title" aria-hidden="true">
        <!-- Modal -->
        <div class="modal-dialog {{#if modalcentered}}modal-dialog-centered{{/if}}" role="document" style="{{#if minWidth}}min-width: {{minWidth}};{{/if}}">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal-title-{{id}}">{{title}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
					  <span aria-hidden="true">&times;</span>
				   </button>
                </div>
                <div class="modal-body modal-overflow">
                    {{{content}}}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/x-handlebars-template" id="sp-search-condition">
    {{#columns}}
        o["{{name}}"].toString().toLowerCase().indexOf("{{toLowerCase ../search.value}}") > -1 {{#if @last}}{{else }} || {{/if}}
    {{/columns}}
</script>


<script type="text/x-handlebars-template" id="sp-modal-fillin-template">
    {{#d.results}}
        <div class="modal fade fillin-modal" id="modal-fillin-{{@root.name}}-{{Title}}" data-choicetype="{{EditFormat}}" data-action="{{@root.action}}" data-source="{{@root.name}}" data-entity="{{EntityPropertyName}}" data-for="{{Title}}" data-uiid="{{uiID}}"
            data-c data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="{{id}}Title" aria-hidden="true">
            <!-- Modal -->
            <div class="modal-dialog modal-dialog-centered" role="fill-in-modal" style="min-width: 600px;">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modal-fillin-title-{{Title}}">Add new value for {{@root.name}} {{Title}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body modal-overflow">
                        <label for="{{Title}}" style="width: 100%;">{{{replace Title '_' ' '}}}<span style="color:red;">*</span></label>
                        <input name="fillin-{{@root.name}}-{{Title}}" class="form-control fill-in-value" data-uiid="{{uiID}}"></input>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary fill-in-btn" data-dismiss="modal" data-choicetype="{{EditFormat}}" data-action="{{@root.action}}" data-entity="{{EntityPropertyName}}" data-source="{{@root.name}}" data-for="{{Title}}" data-uiid="{{uiID}}">Add to List</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    {{/d.results}}
</script>


<script type="text/x-handlebars-template" id="prompt-modal-template">
    <div class="modal fade" id="{{promptID}}" data-choicetype="{{EditFormat}}" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="{{id}}Title" aria-hidden="true">
        <!-- Modal -->
        <div class="modal-dialog modal-dialog-centered" role="{{promptID}}-modal" style="min-width: {{width}};">
            <div class="modal-content" style="height: {{height}}">
                <div class="modal-header">
                    <h5 class="modal-title" id="{{promptID}}-modal-title}">{{header}}</h5>
                    {{#unless removeClose}}
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    {{/unless}}
                </div>
                <div class="modal-body modal-overflow">
                    <div>{{body}}</div>
                </div>
                <div class="modal-footer">
                    {{#buttons}}
                        <button id="{{../promptID}}-btn-{{@index}}" type="button" {{#if close}}data-dismiss="modal" {{/if}} class="btn {{#if active}}btn-primary{{else}}btn-secondary{{/if}}{{btnClasses}}" {{!data-dismiss="modal" }}>{{text}}</button>
                    {{/buttons}}
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/x-handlebars-template" id="sp-lookup-dropdown">
    <option value="">Please Select {{replace Title '/_/' ' '}}</option>
    {{#LookupData.results}}
        <option value="{{Id}}">{{lookupText}}</option>
    {{/LookupData.results}}
</script>

<script type="text/x-handlebars-template" id="bootstrap-alert">
    <div class="alert alert-{{type}}" role="alert">
        {{content}}
    </div>
</script>

<script type="text/x-handlebars-template" id="spa_accordion">
    <div id="{{wrapper_id}}" class="child-wrapper" data-source="{{source}}" data-sptype="{{thisVar}}" data-owner="{{buttonOwner}}">
        {{#children}} {{> spaCard}} {{/children}}
    </div>
</script>

<script type="text/x-handlebars-template" id="spa_accordion_card">
    <div class="card">
        <div class="card-header" id="child-card-{{name}}">
            <div class="row">
                <div class="col-md-4">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseChild-{{name}}" aria-expanded="true" aria-controls="collapseOne">
							{{sectionName}}
						</button>
                    </h5>
                </div>
                <div class="col-md-8">
                    {{#switch @root.action}} 
                        {{#case "edit"}}
                            <button type="button" class="btn btn-primary add-child" data-ownersource="{{source}}" data-source="{{@root.source}}" data-action="{{@root.action}}" data-sptype="{{@root.thisVar}}" data-owner="{{buttonOwner}}" data-container="child-card-body-{{name}}"><i class="fa fa-plus"></i> Add {{singular}}</button>
                        {{/case}} 
                    {{/switch}}
                </div>
            </div>
        </div>
        <div id="collapseChild-{{name}}" class="collapse show" aria-labelledby="child-card-{{name}}" data-parent="#accordion">
            <div class="card-body" id="child-card-body-{{name}}">
                <ul>
                    {{{html}}}
                </ul>
            </div>
        </div>
    </div>
</script>

<script type="text/x-handlebars-template" id="spa-child-form-row">
    <li class="li-child-form">
        <div class="remove-a-child-form">
            <a href="javascript:void(0)" style="width: 20px; float: left; padding:5px;"><i class="fa fa-minus-circle"></i></a>
        </div>
        <div class="a-child-form">
            {{{html}}}
        </div>
        {{#if repeatable.hasSequence}}
            <div class="reorder-a-child-form">
                <div style="width: 20px; float: left;">
                    <a href="javascript:void(0)"><i class="fa fa-caret-up move-child-up"></i></a>
                    <a href="javascript:void(0)"><i class="fa fa-caret-down move-child-down"></i></a>
                </div>
            </div>
        {{/if}}
    </li>
</script>