<a type="button" href="javascript:void(0);" class="actionRefresh btn btn-default iris-pager-nav iris-pager-nav-btn" style="margin: -9px 0px 0px 0px;" data-owner="{{owner}}" title="Refresh Data From SharePoint Server">
    <span class="fa fa-refresh" style="color: #aaaaaa !important"></span>
</a>