<a href="javascript:void(0);" class="iris-pager-nav iris-pager-nav-btn actionRefresh " style="" data-owner="{{owner}}" title="Refresh Data From SharePoint Server">
    <span class="fa fa-refresh" style="color: #aaaaaa !important; padding-top: 5px;"></span>
</a>