<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 container" style="padding: 5px 0px 0px 35px;">
    <ul class="nav nav-tabs spa-app-items"></ul>
    <div
      class="tab-content"
      id="sp-app-contents"
      style="padding: 20px 0px 0px 0px;"
    ></div>
  </div>
</div>