<script type="text/x-handlebars-template" id="sp_tab_container">
    <div class="row">
        <div class="col-md-12 container" style="padding: 20px 0px 0px 50px">
            <ul class="nav nav-tabs spa-app-items"></ul>
            <div class="tab-content" id="sp-app-contents" style="padding: 20px 0px 0px 0px;"></div>
        </div>
    </div>
</script>