<div id="{{wrapper_id}}" class="child-wrapper accordion" data-source="{{source}}" data-sptype="{{thisVar}}" data-owner="{{buttonOwner}}">
    {{#children}} {{> ../spa_accordion_card}} {{/children}}
</div>