<script type="text/x-handlebars-template" id="the_loader_template">
    <div class="modal-backdrop in the-Loader-wrap app-loader-text-centered {{id}}" style="opacity: 0; z-index: 999999;">
        <div class="app-loader">
            <div class="app-loader-text">
                <div id="" class="modal-backdrop the-Loader {{id}}" style="display: none; opacity: 0; z-index: 999999;">
                    <div class=circleGWrap>
                        <div id="circleG">
                            <div id="circleG_1" class="circleG"></div>
                            <div id="circleG_2" class="circleG"></div>
                            <div id="circleG_3" class="circleG"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>