.circleGWrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.circleG {
    background-color: rgb(255,255,255) !important;
    float: left !important;
    height: 31px !important;
    margin-left: 17px !important;
    width: 31px !important;
    animation-name: bounce_circleG !important;
    -o-animation-name: bounce_circleG;
    /*-ms-animation-name: bounce_circleG;*/
    -webkit-animation-name: bounce_circleG;
    -moz-animation-name: bounce_circleG;
    animation-duration: 2.24s;
    -o-animation-duration: 2.24s;
    /*-ms-animation-duration: 2.24s;*/
    -webkit-animation-duration: 2.24s;
    -moz-animation-duration: 2.24s;
    animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    /*-ms-animation-iteration-count: infinite;*/
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-direction: normal;
    -o-animation-direction: normal;
    /*-ms-animation-direction: normal;*/
    -webkit-animation-direction: normal;
    -moz-animation-direction: normal;
    border-radius: 20px;
    /*-o-border-radius:20px;
            -ms-border-radius:20px;*/
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 50% !important;
    /*-o-border-radius: 50% !important;
        -ms-border-radius: 50% !important;*/
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
}

    .circleG:last-child {
        margin-right: 17px !important;
    }

#circleG_1 {
    animation-delay: 0.45s;
    -o-animation-delay: 0.45s;
    /*-ms-animation-delay: 0.45s;*/
    -webkit-animation-delay: 0.45s;
    -moz-animation-delay: 0.45s;
}

#circleG_2 {
    animation-delay: 1.05s;
    -o-animation-delay: 1.05s;
    /*-ms-animation-delay: 1.05s;*/
    -webkit-animation-delay: 1.05s;
    -moz-animation-delay: 1.05s;
}

#circleG_3 {
    animation-delay: 1.35s;
    -o-animation-delay: 1.35s;
    /*-ms-animation-delay: 1.35s;*/
    -webkit-animation-delay: 1.35s;
    -moz-animation-delay: 1.35s;
}

@keyframes bounce_circleG {
    0% {
    }

    50% {
        /*background-color:rgb(0,0,0);*/
        background-color: transparent;
    }

    100% {
    }
}

@-o-keyframes bounce_circleG {
    0% {
    }

    50% {
        /*background-color:rgb(0,0,0);*/
        background-color: transparent;
    }

    100% {
    }
}

@-ms-keyframes bounce_circleG {
    0% {
    }

    50% {
        /*background-color:rgb(0,0,0);*/
        background-color: transparent;
    }

    100% {
    }
}

@-webkit-keyframes bounce_circleG {
    0% {
    }

    50% {
        /*background-color:rgb(0,0,0);*/
        background-color: transparent;
    }

    100% {
    }
}

@-moz-keyframes bounce_circleG {
    0% {
    }

    50% {
        /*background-color:rgb(0,0,0);*/
        background-color: transparent;
    }

    100% {
    }
}





.app-loader-text-centered {
    text-align: center;
}

.app-loader-text {
    width: 90px;
    position: absolute;
    top: calc(50% - 15px);
    left: calc(50% - 45px);
    text-align: center;
}

.app-loader {
    /*display: none;*/
    padding: 50px;
    text-align: center;
}

    .app-loader:before {
        content: "";
        position: absolute;
        top: calc(50% - 100px);
        left: calc(50% - 100px);
        margin: 0 auto;
        border: 16px solid #f3f3f3;
        border-radius: 50% !important;
        border-top: 16px solid #3d3d3d;
        border-bottom: 16px solid #3d3d3d;
        width: 200px;
        height: 200px;
        -webkit-animation: spinLoad 2s linear infinite;
        animation: spinLoad 2s linear infinite;
    }

@-webkit-keyframes spinLoad {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spinLoad {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
